#chats-screen {
  background-color: #abc1d1;
}

#chats-screen .settings-header,
#chats-screen .status-bar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #abc1d1;
  box-sizing: border-box;
}

#chats-screen .status-bar {
  z-index: 2;
}

#chats-screen .settings-header {
  z-index: 1;
  top: 10px;
}

.main-chat {
  margin-top: 110px;
}

.chats .fa-search {
  margin-right: 20px;
}

.chats-date {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.chats-datebox {
  width: 200px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 6;
  font-size: 15px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chats-datebox span {
  color: white;
}

.chats-chatting__column img {
  width: 40px;
  height: 40px;
  border-radius: 30%;
}

.chats-chatting__column:first-child {
  margin-right: 6px;
}

@keyframes chattingfadein {
  from {
    transform: translateX(-80px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes chattingfadeinsecond {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.chats-chatting {
  margin: 0 20px;
  display: flex;
  animation: chattingfadein 1s linear forwards;
}

.chats-chatting__user {
  color: rgba(0, 0, 0, 0.3);
}

.chats-chatting__info {
  display: flex;
}

.chats-chatting__info--talk {
  width: 300px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  margin: 5px 5px 0 0;
}

.chats-chatting__info--time {
  display: flex;
  align-items: flex-end;
}

.chats-chatting__info--time span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.chats-chatting__second {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
  animation: chattingfadeinsecond 1s linear forwards;
}

.chats-chatting__second--column div {
  width: 65px;
  height: 40px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  margin: 10px 5px 0 5px;
}

.chats-chatting__second--column:first-child {
  display: flex;
  align-items: flex-end;
}

.chats-chatting__second--column:first-child span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.4s ease-in-out;
}

.reply .reply-column:first-child {
  width: 10%;
}

.reply .reply-column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.reply-column:last-child > i,
.reply-column:last-child button {
  position: absolute;
  right: -3px;
  top: 2px;
}

.reply-column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply-column button {
  background-color: yellow;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply-column input:focus,
.reply-column input:active {
  outline: none;
}

.reply i {
  opacity: 0.5;
}

.reply:focus-within .reply-column:first-child {
  opacity: 0;
}

.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 90vw;
  transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
